volumes:
  trustanchors:
  cabundle:
  hostcerts:
  usercerts:

services:

  trust:
    build:
      context: ../docker/trust
      dockerfile: Dockerfile
    volumes:
      - trustanchors:/trust-anchors
      - cabundle:/etc/pki
      - hostcerts:/hostcerts
      - usercerts:/usercerts

  db:
    image: mariadb:10.11.2
    container_name: db

    volumes:
      - ./assets/db:/home/mysql/
      - ./assets/scripts:/scripts/

    environment:
      - MYSQL_ROOT_PASSWORD=pwd
      - MYSQL_USER=user
      - MYSQL_PASSWORD=pwd

    ports:
      - "3306:3306"

  testsuite:
    image: ${TS_IMAGE}
    init: true

    environment:
      - TZ=Europe/Rome
      - ROBOT_ARGS

    volumes:
      - trustanchors:/etc/grid-security/certificates
      - ./assets/vomses:/etc/vomses
      - ./assets/vomsdir:/etc/grid-security/vomsdir:ro
      - ./assets/vomsdir-malformed:/home/test/vomsdir:ro
      - ./assets/scripts:/scripts
      - usercerts:/usercerts
      - ..:/home/test/voms-testsuite:cached

    command: ["sleep", "infinity"]

  voms:
    image: ${VOMS_IMAGE}

    environment:
      VOMS_HOSTNAME: voms.test.example

    volumes:
      - hostcerts:/hostcerts
      - trustanchors:/etc/grid-security/certificates
      - ./assets/scripts:/scripts
      - ./assets/vomsdir/:/etc/grid-security/vomsdir
      - ./assets/conf/vo.0.conf:/etc/voms/vo.0/voms.conf
      - ./assets/conf/vo.1.conf:/etc/voms/vo.1/voms.conf

    command: ["sleep", "infinity"]

    ports:
      - "15000:15000"
      - "15001:15001"

    privileged: true

    networks:
      default:
        aliases:
          - voms.test.example

  ngx:
    image: ${NGINX_IMAGE}:${NGINX_IMAGE_TAG}

    depends_on: 
      vomsaa:
        condition: service_started
      trust:
        condition: service_completed_successfully

    restart: unless-stopped
    
    environment:
      TZ: Europe/Rome
      X509_VOMS_DIR: /vomsdir

    ports:
      - "443:443"

    volumes:
      - cabundle:/etc/pki
      - trustanchors:/etc/grid-security/certificates
      - hostcerts:/hostcerts:ro
      - ./assets/vomsdir:/vomsdir:ro
      - ./assets/nginx/conf.d/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./assets/nginx/conf.d/voms.test.example.conf:/etc/nginx/conf.d/voms-aa.test.example.conf:ro

    networks:
      default:
        aliases:
          - voms-aa.test.example

  vomsaa:
    image: ${VOMS_AA_IMAGE}:${VOMS_AA_IMAGE_TAG}
    
    environment:
      TZ: Europe/Rome
      JAVA_OPTS: -Djava.security.egd=file:/dev/./urandom -Dspring.profiles.active=mysql-test
      IAM_DB_NAME: voms_vo_2
      IAM_DB_USERNAME: user
    
    depends_on:
      - db
    
    restart: unless-stopped

    volumes:
      - ./assets/vomsaa:/workspace/config:ro
      - hostcerts:/etc/grid-security/voms:ro
      - trustanchors:/etc/grid-security/certificates
