volumes:
  trustanchors:
  cabundle:
  hostcerts:
  usercerts:
  voms-src:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${VOMS_SRC}

services:

  trust:
    build:
      context: ../docker/trust
      dockerfile: Dockerfile
    volumes:
      - trustanchors:/trust-anchors
      - cabundle:/etc/pki
      - hostcerts:/hostcerts
      - usercerts:/usercerts

  db:
    image: mariadb:10.11.2

    volumes:
      - ./assets/db:/home/mysql/
      - ./assets/scripts:/scripts/

    environment:
      - MYSQL_ROOT_PASSWORD=pwd
      - MYSQL_USER=user
      - MYSQL_PASSWORD=pwd

  voms:
    image: italiangrid/voms:centos9-beta
    init: true

    environment:
      - TZ=Europe/Rome
      - VOMS_HOST=voms.test.example

    volumes:
      - ..:/voms-testsuite
      - voms-src:/voms-src:ro
      - trustanchors:/etc/grid-security/certificates
      - hostcerts:/hostcerts

    command: ["sleep", "infinity"]

    privileged: true

    networks:
      default:
        aliases:
          - voms.test.example

  testsuite:
    image: italiangrid/voms-testsuite:centos9-beta
    init: true

    environment:
      - TZ=Europe/Rome
      - ROBOT_ARGS

    volumes:
      - ..:/voms-testsuite
      - voms-src:/voms-src:ro
      - trustanchors:/etc/grid-security/certificates
      - usercerts:/usercerts

    command: ["sleep", "infinity"]
